#
# This file defines the following environment variables
#    ORACLE_HOME=<Location of oracle client>
#    ORACLE_LIB=<Location of oracle client libraries>
#    ORACLE_PATH=<location of oracle client executiables>
#    TNS_ADMIN=<location of oracle client sqlnet.ora>
#    For instant client the above three are identical, for a traditional client
#    there are ./bin and ./lib subdirectories and TNS_ADMIN can be in a number of places.
#
#    RECYCLE_SNAPSHOTS=Y|N.  Deprecated, will be overwritten by config file entries
#
#    DEFAULT_PROPERTIES=<name of a properties file in the current directory>

#    REPORT_LOCATION=<location to move report files to>
#
# The properties file defines which databases and which snapshots to process
# a properties file can be passed as a parameter. If it is omitted then
# the default file named here is used.  The properties file needs to be writable.
#
#
# RECYCLE_SNAPSHOTS is used in flashback databases.
# Normally, the utilities report on all snapshots since the last run. This is
# managed by updating the last snapshot in the properties file. In a flashback
# database snapshot numbers are reused so the utility just extracts all snapshots
# each time (RECYCLE_SNAPSHOTS=Y)
#
# REPORT_LOCATION specifies a location to copy report files to.
# The reports are created in the utility directory and then zipped
# and moved to ${REPORT_LOCATION}/${DBNAME}


#  Set the location of the oracle client here.
# In most cases the other variables can be derived.
#

#OH=/u01/app/oracle/product/11.2.0.3
OH=/opt/oracle/instantclient_12_1


if [ -d ${OH}/bin ];then
    ORACLE_PATH=${OH}/bin  # a normal oracle home
    ORACLE_HOME=${OH}
else
    ORACLE_PATH=${OH}      # an instantclient home
    ORACLE_HOME=${OH}
fi

if [ -d ${OH}/lib ];then
    ORACLE_LIB=${OH}/lib  # a normal oracle home
else
    ORACLE_LIB=${OH}      # an instantclient home
fi

# TNS_ADMIN is either
#   the instant client location, or
#   /var/opt/oracle, or
#   ORACLE_HOME/network/admin.
# If you want something else, specify it here.
#

if [ $ORACLE_HOME = $ORACLE_PATH ];then
       TNS_ADMIN=$ORACLE_HOME    # instant client
elif [ -z ${TNS_ADMIN} ];then
    if [ -f /var/opt/oracle/sqlnet.ora ];then
        TNS_ADMIN=/var/opt/oracle
    elif [-f ${ORACLE_HOME}/network/admin/sqlnet.ora ];then
        TNS_ADMIN=${ORACLE_HOME}/network/admin
    fi
fi


RECYCLE_SNAPSHOTS=N
DEFAULT_PROPERTIES=awrrpt.properties

REPORT_LOCATION=/net/reuxeuss045/vol/s45_f00_aesdba_shared/AWRrepo

TNS_ADMIN=${THISDIR}


export ORACLE_HOME ORACLE_PATH ORACLE_LIB
export TNS_ADMIN RECYCLE_SNAPSHOTS DEFAULT_PROPERTIES REPORT_LOCATION
