# There are four record types.
# DEF: defines the database name and snaphot collection details.
# The fields are
#   record type             DEF
#   database to report on    - UPPER CASE
#   database to report from  - name must match the instance name
#   last snapshot reported   - start at 1 for a new collection
#   timestamp of last collection
#
# URL:   EZCONNECT  connection component details.
# The fields are
#   record type             URL
#   database key    - should match a key from a DEF record
#   hostname        - can be a hostname or a tns alias. If it is a tns alias then
#                     port and service name must be omitted.
#   port            - listener port
#   service name    database service name
#
#
# These are used to form a connect string of the form
#    @host:port/service_name
# or
#    @tns_alias
#
# CON:  credentials for the database connection
# The fields are
#   record type             URL
#   database key    - should match a key from a DEF record
#   username
#   password
#
# OPT: Additional options per DEF.
# The fields are
#   record type             OPT
#   database key    - should match a key from a DEF record
#   option pair     - =separated name value pair
# Name is an environment variable
# e.g. OPT:NF01LOD1:RECYCLE_SNAPSHOTS=Y
#
#
DEF:NF01LOD1:nf01lod1:1:20151208135510
DEF:NF01LPE1:nf01lpe1:1:20151208135510
URL:NF01LOD1:nf01sg0032-ora:1521:nf01xod1.bp.com
URL:NF01LPE1:nf01sg0032-ora:1521:nf01xpe1.bp.com
URL:NF01LPE1:nf01xpe1::
CON:NF01LOD1:username:password
CON:NF01LPE1:username:password
